<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="jp.co.qsdn.android.jinbei3d"
  android:versionCode="1"
  android:versionName="1.0.0">
  <application
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:clearTaskOnLaunch="true"
    >
    <service android:name=".AtlantisService"
      android:label="@string/service_name"
      android:exported="true"
      android:permission="android.permission.BIND_WALLPAPER" 
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data android:name="android.service.wallpaper"
        android:resource="@xml/wallpaper" />
    </service>
    <activity
      android:name="jp.co.qsdn.android.jinbei3d.setting.SettingActivity"
      android:label="@string/setting_title"
      android:launchMode="singleTask">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
      android:name="jp.co.qsdn.android.jinbei3d.setting.AboutActivity"
      android:label="@string/about_title"
      android:launchMode="singleTask">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
    <receiver android:name="AtlantisBroadcastReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
  </application>
  <uses-sdk android:minSdkVersion="7" />
  <uses-feature android:name="android.software.live_wallpaper" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.BIND_WALLPAPER"/>

  <!-- for AdMob -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest> 
